<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../__ static/list.css">
	<title>List of employees</title>
</head>
<body>
	<h1>List of employees</h1>
	<form action="search_employees.html">
		<label for="start_date">Start date:</label>
		<input type="date" id="start_date" name="start_date"><br><br>
		<label for="end_date">End date:</label>
		<input type="date" id="end_date" name="end_date"><br><br>
		<input type="submit" value="Search">
	</form>
	<table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Birthday</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
	<a href="add_employee.html">Add employee</a>
</body>
</html>

<!--<!DOCTYPE html>
<html>
<head>
    <title>MySQL data in Flask</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Birthday</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>